<div class="flex flex-col h-full" [ngStyle]="{ gap: spacingY + 'px',  }">
  <div
    class="flex"
    [ngStyle]="{
      gap: spacingY + 'px'
    }"
  >
    <app-button
      [value]="7"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
    <app-button
      [value]="8"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
    <app-button
      [value]="9"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
    <app-button
      [value]="'/'"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
  </div>
  <div
    class="flex"
    [ngStyle]="{
      gap: spacingY + 'px'
    }"
  >
    <app-button
      [value]="4"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
    <app-button
      [value]="5"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
    <app-button
      [value]="6"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
    <app-button
      [value]="'x'"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
  </div>
  <div
    class="flex"
    [ngStyle]="{
      gap: spacingY + 'px'
    }"
  >
    <app-button
      [value]="1"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
    <app-button
      [value]="2"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
    <app-button
      [value]="3"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
    <app-button
      [value]="'-'"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
  </div>
  <div
    class="flex"
    [ngStyle]="{
      gap: spacingY + 'px'
    }"
  >
    <app-button
      [value]="0"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
    <app-button
      [value]="'.'"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
    <app-button
      [value]="'+'"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
    <app-button
      [value]="'/'"
      [width]="keyWidth"
      [height]="peaceHeight"
      [borderWidth]="borderWidth"
      [borderRadius]="borderRadius"
    ></app-button>
  </div>
</div>
