<div class="w-screen h-screen flex justify-center items-center">
  <div
    class="border-slate-400 flex flex-col"
    [ngStyle]="{
      width: calculatorWidth + 'px',
      height: calculatorHeight + 'px',
      padding: padding + 'px',
      borderRadius: padding + 'px',
      borderWidth: borderWidth + 'px'
    }"
  >
    <div
      class="border-slate-400"
      [ngStyle]="{
        flex: '0 1 auto',
        marginBottom: spacingY + 'px', 
      }"
    >
      <app-display
        [borderRadius]="borderRadius"
        [borderWidth]="borderWidth"
        [displayHeight]="peaceHeight"
      ></app-display>
    </div>
    <div [style.flex]="'1 1 auto'">
      <app-keypad
        [borderRadius]="borderRadius"
        [borderWidth]="borderWidth"
      ></app-keypad>
    </div>
  </div>
</div>
